
<div>
    <h1>STUDENT DETAILS</h1>

    <ul>
        <li>{{detstud.name}}</li>
        <li>{{detstud.age}}</li>
        <li>{{detstud.address}}</li>
    </ul>

  
<!-- 
    <ul *ngFor="let student of students">
        <li>Student name :{{student.name}}</li>
        <li>Student id :{{student.id}}</li>
        <li>Student class:{{student.class}}</li>
        <li>Student address :{{student.address}}</li>
        <li>Student dob :{{student.dob}}</li>
        <li>Student contact :{{student.contact}}</li>

    </ul> -->
</div>

