<form [formGroup]="Form" (ngSubmit)="submit()">

    <div class="inputgroup">
        <label for="">
            Username:
        </label>
        <input type="text" formControlName="username">

    </div>

    <div class="inputgroup">
        <label for="">
            Age:
        </label>
        <input type="text" formControlName="age">

    </div>

    <div class="inputgroup">
        <label for="">
            Add name
        </label>
        <input type="text" formControlName="nameArray">
    </div>

    <div class="inputgroup">
        <button class="button" type="submit">submit</button>
    </div>

    <div class="inputgroup">
        <ul>
            <li *ngFor="let name of Form.value.nameArray">
                {{name}}
            </li>
        </ul>
    </div>

    <div class="inpugroup">
        <div formArrayName="users" class="inputgroup">
            <button class="button" type="button" (click)="addUser()">add new user</button>

            <div class="inputgroup" *ngFor="let user of users.controls; let i=index;">
                <div class="inputgroup">
                    <label for="">
                        add user
                    </label>
                    <input type="text" [formControlName]="i">
                </div>
            </div>

        </div>
    </div>


</form>


<div class="inputgroup">
    <h1>Output</h1>
    <h1>{{Form.value|json}}</h1>
</div>