<form [formGroup]="Form" (ngSubmit)="submit()">

    <div class="inputgroup">
        <label for="">
            Username:
        </label>
        <input type="text" formControlName="username">

    </div>

    <div class="inputgroup">
        <label for="">
            Age:
        </label>
        <input type="text" formControlName="age">

    </div>




    <div class="inpugroup">
        <div formArrayName="users" class="inputgroup">
            <button class="button" type="button" (click)="addUser()">add new user</button>

            <div class="inputgroup" *ngFor="let user of users.controls; let i=index;">

                <button class="button" type="button" (click)="getUserIndex(i)">get user index</button>
                <div class="inputgroup" [formGroupName]="i">
                    <label for="">
                        add user
                    </label>
                    <input type="text" formControlName="name">
                    <button class="button" type="button" (click)="setControls(i)">update value</button>
                    

                    <div class="inputgroup" formArrayName="tasks">

                        <button class="button" type="button" (click)="addTask(i)">add task</button>

                        <div class="inputgroup" *ngFor="let task of taskList(i).controls;let j=index">
                            <div class="inputgroup">
                                <label for="">
                                    Add task:
                                </label>
                                <input type="text" [formControlName]="j">
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
<!-- 
<div class="inputgroup" formArrayName="tasks">
    <button class="button" (click)="addTask()"> add new Task</button>
    <div class="inputgroup" *ngFor="let task of tasks.controls;let i=index">
        <input type="text" [formControlName]="i">

    </div>

</div> -->
    <div class="inputgroup">
        <button class="button" type="submit">submit</button>
    </div>
</form>


<div class="inputgroup">
    <h1>Output</h1>
    <h1>{{Form.value|json}}</h1>
    <div class="inputgroup" *ngFor="let user of Form.value.users">
        <h1>{{user.name}}</h1>
        <div class="inputgroup">
            <ul>
                <li *ngFor="let task of user.tasks">{{task}}</li>
            </ul>
        </div>

    </div>
</div>



