


<h1>Hello World</h1>

<div>

    dropdown
    <button routerLink="/dropdown">dropdown</button>
        <button routerLink="/employeedetails">Employee details</button>
        <button routerLink="/studentnames">Student names</button>
        <button routerLink="/checkbox">checkbox</button>
        <button routerLink="/table">table</button>
        <button routerLink="/table1">table1</button>
        <button routerLink="/studentdetails">student details</button>
        <button routerLink="/select">Select</button>

        <button routerLink="/excel">excel</button>

    </div>
<router-outlet></router-outlet>
