<form [formGroup]="Form" (ngSubmit)="onSubmit()">


    <div class="inputgroup">

        <div class="inputgroup">
            <div *ngFor="let input of inputs;let i=index">
                <label for="">
                    <input type="checkbox" value="{{input}}" (click)="add($event,i)" [checked]=isActive>
                    {{input}}
                </label>
  
            </div>

            <label for="">
                <input type="checkbox" (click)="selectAll()">
                select all
             
            </label>
            
        </div>
        <button class="button" type="submit">submit</button>
    </div>


</form>
